<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag('vendor-bundle', 'data-turbolinks-track': true) %>
    <%= javascript_pack_tag('app-bundle', 'data-turbolinks-track': true) %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-dark bg-inverse">
        <a class="navbar-brand" href="/"><%= @association.acronym %></a>
      </nav>
      <div>
        <div class="container">
        <%= yield %>
        </div>
      </div>
      <div>&copy; <%= Time.current.year %> <%= @association.name %></div>
    </div>
  </body>
</html>
